<style>
    body{
        color:darkorange;
    }
</style>

<div class="container">
    <h2>Welcome to Bob's @ViewBag.Title</h2>
    <p>This web site is meant to show what I know of web design.   This site will be changed, upgraded and added to as I go along.
    This site runs on ASP.NET MVC Core 2.1   It has some web api stuff going on and I hope to put an ajax call with a pop-up window soon.   we'll see if there is time.
    Thank you for visiting.   </p>
</div>