<head>

</head>


<div class="container">
    <h2>Bob's ASP.NET MVC Core 2.1 Web Page</h2>
    <p>Welcome to my page.   This is an attempt to display my knowledge about web sites and programming in General</p>
    <div class="row no-gutters">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/10-11-09Out 001.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/10-21-09_Germany 046.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/10-21-09_Germany 048.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/10-21-09_Germany 058.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Athens_01_ 029.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/12-16-09_Bagram 016.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/1stnight qatar 001.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Abu Dhabi 009.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Athens_02_ 022.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Athens_02_ 025.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar 001.jpg" class="img-fluid" />
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar 008.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar 016.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar Near End 001.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar Near End 036.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar Night_tracers 002.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Kandahar Night_tracers 018.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Last Day 018.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Melissa_Athens 078.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/pics/Thanksgiving 002.jpg" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/img/background.PNG" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="~/img/gradient.jpeg" class="img-fluid" />
        </div>
    </div>
</div>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/js/index.js"></script>