<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .blah {
            background-image: url('/images/pattern.png');
            background-color: aquamarine;
        }

        .orange {
            color: coral;
        }
    </style>
</head>
<body class="blah">
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand"><i class="fa fa-paint-brush"></i> Welcome</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

</body>
</html>